@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900);

body {
    color:rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

h1 {
    font-size:5em;
    text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-size:2em;
    text-transform: uppercase;
    font-weight: 900;
    margin-top:5em;
}

p {
    font-size:1.5em;
}

.wrapper {
    position:relative;
    margin-left:15%;
    margin-right:15%;
    max-width:1080px;
    height:100%;
}

.entry {
    min-height:100vh;
}

.canvas {

}

.attn{
    font-size:3em;
}

@media (max-width: 767px) {
    body {
        font-size:.75em;
    }

    .wrapper {
        position:relative;
        margin-left:auto;
        margin-right:auto;
        height:100%;
    }
}
