@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900);

.skrollable {
	position:fixed;
	z-index:100;
}
.skrollr-mobile .skrollable {
	position:absolute;
}
.skrollable .skrollable {
	position:absolute;
}
.skrollable .skrollable .skrollable {
	position:static;
}

#bd {
	width: 100%;
	height: 100%;
    overflow:visible;
    position:relative;
}

.animate-right-0 {
	text-align:right;
	max-width:1080px;
	margin:auto;
	position: absolute;
	width:100%;
	height:100vh;
	top:70vh;
}
.animate-right-30 {
	text-align:right;
	max-width:1080px;
	margin:auto;
	margin-right:40px;
	position: absolute;
	width:100%;
	height:100vh;
	top:40vh;
}
.animate-left-0 {
	text-align:left;
	max-width:1080px;
	margin:auto;
	position: absolute;
	width:100%;
	height:100vh;
	top:70vh;
}
.animate-center-70 {
	text-align:center;
	max-width:1080px;
	margin:auto;
	position: absolute;
	width:100%;
	height:100vh;
	top:25vh;
}
.animate-left-30 {
	text-align:left;
	max-width:1080px;
	margin:auto;
	position: absolute;
	width:100%;
	height:100vh;
	top:40vh;
}

img {
	height:20vh;
	width:auto;
}

.img-inline {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: auto;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

html, body {
    width:100%;
    height:100%;
    margin:0;
    background:#f3f3f3;
}

body {
  color:rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

h1 {
  font-size:5em;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size:2em;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size:1.25em;
}

.bold {
    text-transform: uppercase;
    font-weight: 700;
}

.notice-me {
	font-size:1.33em;
    text-transform: uppercase;
    font-weight: 900;
}

.left {
	text-align:left;
}

.right {
	text-align:right;
}

.container {
	text-align:center;
	height: 100%;
	width: 100%;
	margin: auto;
}

.wrapper {
	max-width:1080px;
	margin: auto;
	padding:20px;
}

.inner {
	position:relative;
	margin:auto;
	max-width: 1080px;
}

.gradient {
	background: rgba(0, 0, 0, 0.7);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	width: 100%;
	height: 100%;
}

.border {
	position: relative;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	width: 100;
	height: 100;

	border-style:solid;
	border-width:2px;
	border-color:white;
	margin:10px;
}

#intro-title {
	background-image:url("bus.jpg");
	background-size: 100vw;
	background-repeat: no-repeat;
	color:white;
	background-position: 50% 50%;
}

#intro-body {
	height:100%;
	width:100%;
}

#communication-title {
	background-image:url("girlonphone.jpg");
	background-size: 100vw;
	background-repeat: no-repeat;
	color:white;
	background-position: 50% 50%;
}

#communication-body {
	height:100%;
	width:100%;
}

#distance-title {
	background-image:url("tent.jpg");
	background-size: 100vw;
	background-repeat: no-repeat;
	color:white;
	background-position: 50% 50%;
}

#distance-body {
	height:100%;
	width:100%;
}

#endpage {
	background-image:url("couple.jpg");
	background-size: 100vw;
	background-repeat: no-repeat;
	color:white;
	background-position: 50% 50%;
}

.black {
	width:100%;
	height:100%;
	background:black;
	color:#f3f3f3;
}

.white {
	width:100%;
	height:100%;
	background:#f3f3f3;
	color:black;
}

/*** scroll down arrow from http://codepen.io/postor/pen/mskxI ***/
svg + svg {
    margin-top: 2em;
}

.wppr {
    max-width: 30px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

svg {
    width: 30px;
    max-height: 40px;
    display: inline-block;
}

.arrow-down path {
	stroke: white;
	fill: transparent;
	stroke-width: 2px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
	0% {opacity:0}
	40% {opacity:.8}
	80% {opacity:0}
	100% {opacity:0}
}

@-webkit-keyframes arrow {
	0% {opacity:0}
	40% {opacity:.8}
	80% {opacity:0}
	100% {opacity:0}
}

.arrow-down path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrow-down path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrow-down path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/******** end arrow ********/

@media (max-width: 767px) {
	h1 {
		font-size:1.85em;
	}

	h2 {
		font-size: 1.2em;
	}

	p {
		font-size:1em;
	}

	/*
	.container {
		text-align:center;
		height: 100%;
		width: 100%;
		margin:0;
		position:relative;
		top: 0;
	    left: 0;
	    right:0;
	    bottom:0;
		margin:0;
	}

	.gradient {
		background: rgba(0, 0, 0, 0.7);
	    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	    width: 100vw;
	    height: 100vh;;
		position:relative;
	}

	.border {
		position: relative;
	    top: 0;
	    left: 0;
	    right:0;
	    bottom:0;
	    width: 100;
	    height: 100;

	    border-style:solid;
	    border-width:2px;
	    border-color:white;
	    margin:10px;
	}*/

	#intro-title {
		background-image:url("bus.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 50%;
		color:white;
	}

	#communication-title {
		background-image:url("girlonphone.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 50%;
		color:white;

	}

	#distance-title {
		background-image:url("tent.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 50%;
		color:white;
	}

	#endpage {
		background-image:url("couple.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 50%;
		color:white;
	}
}

.graph-body {
  margin: 0;
  overflow: hidden;
  font-family:'Raleway', sans-serif;
  font-weight:400;
  font-size: 14px;
  text-align: center;
  color:#ccc;
}

.wrap {
  display: block;
  margin: auto;
  width: 1000px;
  height: 450px;
  position: relative;
}

p {
	text-align:center;
}

.label {
  height: 1em;
  padding: .3em;
  font-family:'Raleway', sans-serif;
  font-weight:400;
  background: rgba(255, 255, 255, .8);
  position: absolute;
  display: none;
  color:#333;

}
canvas {
	display:flex;
	max-width:100vw;
}
