@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700italic);

html,
body {
    font-family: "Vollkorn", serif;
    font-weight:400;
    background-color: black;
    height: 100%;
    width: 100%;
    font-size:1em;
    line-height: 1.5;
}

.fixed-wrapper {
    z-index: 1;
    height: 100vh;
    width: 65vw;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fixed-img {
    height: 100%;
    width: 100%;
}

.article {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 35vw;
    color: white;
}
.article[Yscrollable="true"] {
    position: absolute;
    top: 70%; /*should match data anchor */
    right: 0%;
}

.backup-img {
    display:none;
    position:relative;
    top:0;
    left:0;
    padding:0;
    margin:0;
    width:100%;
    height:100%;

    background-image: url(img/place1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    font-family:georgia;
    padding:1em;
    color: white;
    font-size: 3em;
    font-style: italic;
    max-width: 100%;
    font-weight: 900;
}

.arrow-wrapper {
    padding: 1em;
    margin: auto auto 0 auto;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

/**** arrow credit: http://codepen.io/sampeniak/pen/Imhpy ***/
.arrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #ffffff;
  border-radius: 50%;
  margin-left: 0.75em;
}

.arrow:after {
  content: '';
  display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #ffffff;
  border-right: 0.5em solid #ffffff;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

p {
    padding-left:5em;
    padding-right:5em;
    margin-top:3em;
}

.spacer {
    height:25vh;
}

.bar {
    display: block;
    height: 1px;
    width: 80%;
    background: white;
    border: 0;
    border-top: .5em solid white;
    margin: 1em 0;
    padding: 0;
}

@media (max-width: 767px) , (orientation: portrait) {
    .fixed-wrapper {
        display:none;
    }
    .backup-img {
        display: inline-block;
    }
    .article {
        display: inline-block;
        position: static;
        width: 100%;
        height: 100%;
    }
    .article[Yscrollable="true"] {
        position: static;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1150px) and (min-width: 768px) and (orientation: landscape) {
    p {
        padding-left: 2em;
        padding-right: 2em;
    }
}
