@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700italic);
/*max width of img visible: 500px*/
html,
body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 1em;
    background-color: white;
}

body {
    display:none; /*for initial fade-in*/
}

h1 {
    max-width: 100%;
    padding: 1em;
    font-family: georgia;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    color: black;
    background-color:white;
}

p {
    margin-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
}

a {
    text-decoration:underline;
    text-decoration-color:#c72b2b;
    color:#c72b2b;
}

a:hover {
    text-decoration:none;
    background: #c72b2b;
    color:white;
    cursor:default;
}

.article {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 35vw;
    color: black;
    background-color:white;
}

.article[Yscrollable="true"] {
    position: absolute;
    top: 70%; /*should match data anchor */
    right: 0%;
}

.author {
    display:block;
    font-style:italic;
    font-weight:400;
    text-align:right;
}

.fixed-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-img {
    height: 100%;
    width: 100%;
}

.backup-img {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.spacer {
    height:20vh;
}

.bar {
    display: block;
    height: 1px;
    width: 80%;
    margin: 1em 0;
    border: 0;
    border-top: .5em solid black;
    padding: 0;
    background: black;
}

.down-arrow {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35vw;
    color: black;
    font-size:5em;
}

.small-only {
    display:none;
}

@media (max-width: 767px) , (orientation: portrait) {
    .small-only {
        display:inline;
    }
    .large-only {
        display:none !important; /* was having issue with arrow, fix later */
    }
    .article,
    .article[Yscrollable="true"] {
        position: static;
        display:inline;
    }
    .spacer {
        height:3em;
    }
}

@media (max-width: 500px) , (orientation: portrait) {
    p {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 1150px) and (min-width: 768px) and (orientation: landscape) {
    p {
        padding-left: 2em;
        padding-right: 2em;
    }
}
